<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"/></a>
<form #resetForm="ngForm" role="form" (ngSubmit)="sendResetEmail()">
    <div class="container">
        <h2>Password recovery</h2>
        <label><b>Email</b></label>
        <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" [(ngModel)]="email" required>
        <button type="submit">Send Email</button>
    </div>
</form>