* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(90deg, rgba(178,140,198,1) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(163,185,198) 100%);
  color: white;
}


.mat-toolbar.mat-primary {
  background: rgba(178,140,198,1);
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 17px;
}

.toolbar-icon {
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(163,185,198);
}

.toolbar-title {
  margin-left: 1rem;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

img.footer-logo {
  float: right;
  margin: 1rem;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(178,140,198,1) rgba(163,185,198);
}

#copyright {
  padding-top: 3rem;
  text-align: right;
}

.title {
    text-align: center;
    color: white;
    margin-top: 1rem;
}

.title h1 {
    margin: 1rem 0 3rem 0;
}

.title-logo {
    margin: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(178, 140, 198, 1) rgba(163, 185, 198);
}

.button {
    border: 1px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4rem auto 0 auto;
    cursor: pointer;
    background-color: rgba(178,140,198,1);
    width: 40%;
}
