<mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
        <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
    </button>
    <span class="toolbar-title">Pigeon Theatres</span>
    <div class="spacer"></div>
    <a mat-raised-button color="primary" routerLink="/admin-menu" routerLinkActive="active">
        <mat-icon class="login-icon">supervisor_account</mat-icon>Admin
    </a>
    <a mat-button routerLink="/logout" routerLinkActive="active">Logout</a>
</mat-toolbar>
<div class="title">
    <img
        src="assets/images/sample-logo.jpg"
        class="title-logo"
        alt="logo"
        height="200px"
        width="170px"
    />
    <h1>Pigeon Theatres</h1>
</div>
<div class="manage">
    <a mat-button class="button" routerLink="/add-movie" routerLinkActive="active">Add Movie</a>
    <a mat-button class="button" routerLink="/manage-movies" routerLinkActive="active">Manage Movies</a>
    <a mat-button class="button" routerLink="/manage-promotions" routerLinkActive="active">Manage Promotions</a>
    <a mat-button class="button" routerLink="/admin-menu" routerLinkActive="active">Manage Users</a>
</div>
<div class="footer">
    <a class="active" id="logo" routerLink="/admin-menu" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" class="footer-logo" alt="logo" height="100px" width="100px"></a>
    <p id="copyright">Pigeon Theatres</p>
</div>
