<div class="nav-belt">
    <div class="nav-left">
        <a class="active" id="nav-logo" routerLink="/admin-menu" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"></a>
        <div class="search-container">
            <form action="#">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit" label="Search">Search</button>
            </form>
        </div>
    </div>
    <div class="nav-right">
        <a href="#">Admin</a>
        <a href="#">My Movies</a>
    </div>
</div>
<div class="title">
    <img
        src="assets/images/sample-logo.jpg"
        class="title-logo"
        alt="logo"
        height="200px"
        width="170px"
    />
    <h1>Pigeon Theatres</h1>
</div>
<div class="manage">
    <button class="button promotions">Manage Promotions</button>
    <button class="button movies">Manage Movies</button>            
</div>
<div class="footer">
    <a class="active" id="logo" routerLink="/admin-menu" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" class="footer-logo" alt="logo" height="100px" width="100px"></a>
    <p id="copyright">Pigeon Theatres &copy</p>
</div>