<mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/admin-menu" routerLinkActive="active">
        <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
    </button>
    <a mat-button routerLink="/admin-menu" routerLinkActive="active">Back To Admin Menu</a>
</mat-toolbar>
<div class="title">
    <h1>Add Movie</h1>
</div>
<div class="container">
    <form [formGroup]="movieForm">
      <div class="general-fields">
        <h3>Fill in Movie Information</h3>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input
            matInput
            placeholder="Enter Title"
            name="title"
            id="title"
            formControlName="movieTitle"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Director</mat-label>
          <input
            matInput
            placeholder="Enter Director"
            name="director"
            id="director"
            formControlName="movieDirector"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Producer</mat-label>
          <input
            matInput
            placeholder="Enter Producer"
            name="producer"
            id="producer"
            formControlName="movieProducer"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Rating</mat-label>
          <input
            matInput
            placeholder="Enter Rating"
            name="rating"
            id="rating"
            formControlName="movieRating"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Duration</mat-label>
          <input
            matInput
            placeholder="Enter Duration in Minutes"
            name="duration"
            id="duration"
            formControlName="movieDuration"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Genre</mat-label>
          <mat-chip-list #chipList required>
            <mat-chip
              *ngFor="let genre of genres"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(genre)"
            >
              {{ genre.name }}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input
              placeholder="Enter list of genres..."
              #genreInput
              [matChipInputAddOnBlur]="addOnBlur"
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Trailer Picture</mat-label>
          <input
            matInput
            placeholder="Enter Trailer Picture"
            name="trailerPic"
            id="trailerPic"
            formControlName="movieTrailerPic"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Trailer Video</mat-label>
            <input
              matInput
              placeholder="Enter Trailer Video URL"
              name="trailerVid"
              id="trailerVid"
              formControlName="movieTrailerVid"
              required
            />
          </mat-form-field>
      </div>

      <mat-form-field class="synopsis" appearance="fill">
        <mat-label>Synopsis</mat-label>
        <textarea
          matInput
          formControlName="movieSynopsis"
          placeholder="Enter Synopsis"
          name="synopsis"
          id="synopsis"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="3"
          cdkAutosizeMaxRows="7"
          required
        ></textarea>
      </mat-form-field>

      <button mat-button (click)="submitMovie()">Submit New Movie</button>
      <a class="active" id="logo" routerLink="/admin-menu" routerLinkActive="active"><button mat-button class="cancel">Cancel</button></a>
    </form>
  </div>
