.mat-toolbar.mat-primary {
  background: rgba(178, 140, 198, 1);
  color: #fff;
}

.spacer {
  flex: 1 1 auto;
}

.mat-button {
  font-size: 17px;
}

.toolbar-icon {
  border-radius: 50%;
  border: 1px solid;
  border-color: rgba(163, 185, 198);
}

.toolbar-title {
  margin-left: 1rem;
}

.title {
    margin: 3rem 11rem;
}
