<app-toolbar></app-toolbar>
<div class="container">
  <form #resetForm="ngForm" role="form" (ngSubmit)="resetPassword()">
      
    <h2>Password recovery</h2>
    <label><b>New Password</b></label><br>
        <input type="password" placeholder="Enter password" name="password" #password="ngModel" [(ngModel)]="newPass" /><br>

        <label><b>Re-enter new password</b></label><br>
        <input type="password" placeholder="Re-enter password" name="confirmPassword" #confirmPassword="ngModel" ngModel [required]="newPass ? true : false"
        (ngModel)="newPass"
        #confirmref="ngModel" 
        [class.is-invalid]="confirmref.invalid && confirmref.touched"/>
        <div *ngIf="confirmref.invalid &&(confirmref.touched || confirmref.dirty)" class ="alert alert-danger">
          <div [hidden]="!confirmref.errors?.required">
            <small class="invalid">Password is required</small>
          </div> 
        </div> <br>
    <button type="submit">Reset Password</button>
      
  </form>
</div>