h1 {
    margin-left: 38%;
    margin-top: 10%;
}

.container {
    background: white;
    border: 2px solid silver;
    padding: 5px;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 2rem;
    color: black;
}

input {
    width: 100%;
    display: inline-block;
    border: 1px solid silver;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 10px 0;
}

button {
    background-color: rgba(199, 15, 55, 0.774);
    color: white;
    cursor: pointer;
    border: none;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
}

button:hover {
    opacity: 0.9;
}
