.container {
  background: white;
  border: 2px solid silver;
  padding: 5px;
  margin: 2rem auto;
  color: black;
  width: 30%;
}

.button {
  border: 1px solid black;
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  margin-bottom: 1rem;
  cursor: pointer;
  background-color: rgba(178,140,198,1);
  width: 50%;
}