h1 {
    margin-left: 38%;
    margin-top: 10%;
}

.container {
    background: white;
    border: 2px solid silver;
    padding: 5px;
    margin: auto;
    margin-top: 2rem;
    width: 35%;
    color: black;
}

.link:link, .link:visited {
    color: rgba(0, 151, 238);
    text-decoration: none;
    font-size: 17px;
}

.link:hover {
    color: rgba(199, 15, 55, 0.774);
}