<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"/></a>
<form>
    <div class="container"> 
        <h2>Almost Finished!</h2>
        <p>A confirmation has been sent to your email. Click the link in the email to confirm your account!</p>
        <p><a href="emailConfirmed.html">Confirmation Screen</a></p>
        <a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active">Return home</a>
    </div>
</form>