<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
      <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
  </button>
  <a class="toolbar-link" routerLink="/home" routerLinkActive="active"><span class="toolbar-title">Pigeon Theatres</span></a>
  <p class="search-text">Search</p>
  <mat-form-field appearance="outline" class="search-filter" [style.width.px]=90>
      <mat-label>By</mat-label>
      <mat-select [(value)]="type">
      <mat-option value="title">Title</mat-option>
      <mat-option value="genre">Genre</mat-option>
      <mat-option value="director">Director</mat-option>
      <mat-option value="producer">Producer</mat-option>
      <mat-option value="cast">Cast</mat-option>
      <mat-option value="rating">Rating</mat-option>
      </mat-select>
  </mat-form-field>
  <p>:</p>
  <mat-form-field appearance="outline" class="search-bar" [style.width.px]=360>
      <input matInput placeholder="Type here..." [(ngModel)]="searchval"/>
  </mat-form-field>
  <a class="search-button" mat-raised-button color="primary" role="button" (click)="search()">
      <mat-icon class="search-icon">search</mat-icon> Search
  </a>
  <div class="spacer"></div>
  <a mat-raised-button color="primary" [routerLink] = " '/' + profileURL " routerLinkActive="active">
      <mat-icon class="login-icon">{{loginIcon}}</mat-icon> {{profileName}}
  </a>
  <a mat-button [routerLink] = " '/' + registerURL " routerLinkActive="active">{{registerName}}</a>
</mat-toolbar>

<div class="container">
  <div class="movie-container recommended"  style="display: block;">
    <div fxLayout="row" *ngFor="let seat of seats; index as i">
      <mat-card class="movie-card recommended" style="width: 200px">
        <mat-card-header>
          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>Room: {{showing.roomid}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{movie.trailerpic}} alt="Movie Poster" style="width: 175px; margin: auto">
        <mat-card-content>
          <p>Seat: {{seat}}</p>
          <p>Price: ${{find(i)}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <form [formGroup]="checkoutForm">
    <div class="general-fields">
      <h3>Promo Key</h3>
      <mat-form-field appearance="fill">
        <mat-label>Key</mat-label>
        <input matInput formControlName="cardNumber" placeholder="Enter Key" name="promokey" id="promokey">
      </mat-form-field>
      <h3>Payment Information</h3>
      <span class="info"><b>Card Info: </b></span>
      <mat-form-field appearance="fill">
        <mat-label>Card Number</mat-label>
        <input matInput formControlName="cardNumber" placeholder="XXXX-XXXX-XXXX">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Expiration Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="cardNumber"
            class="form-control"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </mat-form-field><br>
      <span class="info"><b>Billing Address: </b></span>
      <mat-form-field appearance="fill">
      <mat-label>Change Street</mat-label>
      <input
        matInput
        placeholder="Enter street"
        name="street"
        id="street"
        formControlName="cardNumber"
      />
      </mat-form-field>


      <mat-form-field appearance="fill">
      <mat-label>Change City</mat-label>
      <input
        matInput
        placeholder="Enter city"
        name="city"
        id="city"
        formControlName="cardNumber"
      />
      </mat-form-field>


      <mat-form-field appearance="fill">
      <mat-label>Change State</mat-label>
      <input
        matInput
        placeholder="Enter state"
        name="state"
        id="state"
        formControlName="cardNumber"
      />
      </mat-form-field>

      <mat-form-field appearance="fill">
      <mat-label>Change Zip Code</mat-label>
      <input
        matInput
        placeholder="Enter zip"
        name="zip"
        id="zip"
        formControlName="cardNumber"
      />
      </mat-form-field>
    </div>

    <button mat-button (click)="checkout()">Checkout</button>
    <a class="active" id="cancel" routerLink="/manage-users" routerLinkActive="active"><button mat-button class="cancel">Cancel</button></a>
  </form>
</div>
