<mat-toolbar color="primary" class="mat-elevation-z6">
    <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
        <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
    </button>
    <a class="toolbar-link" routerLink="/home" routerLinkActive="active"><span class="toolbar-title">Pigeon Theatres</span></a>
    <p class="search-text">Search</p>
    <mat-form-field appearance="outline" class="search-filter" [style.width.px]=90>
      <mat-label>By</mat-label>
      <mat-select [(value)]="type">
        <mat-option value="title">Title</mat-option>
        <mat-option value="genre">Genre</mat-option>
        <mat-option value="director">Director</mat-option>
        <mat-option value="producer">Producer</mat-option>
        <mat-option value="cast">Cast</mat-option>
        <mat-option value="rating">Rating</mat-option>
      </mat-select>
    </mat-form-field>
    <p>:</p>
    <mat-form-field appearance="outline" class="search-bar" [style.width.px]=360>
      <input matInput placeholder="Type here..." [(ngModel)]="searchval"/>
    </mat-form-field>
    <a class="search-button" mat-raised-button color="primary" role="button" (click)="search()">
      <mat-icon class="search-icon">search</mat-icon> Search
    </a>
    <div class="spacer"></div>
    <a mat-raised-button color="primary" [routerLink] = " '/' + profileURL " routerLinkActive="active">
        <mat-icon class="login-icon">{{loginIcon}}</mat-icon> {{profileName}}
    </a>
    <a mat-button [routerLink] = " '/' + registerURL " routerLinkActive="active">{{registerName}}</a>
</mat-toolbar>

<header>
    <div class="title">
        <img src="assets/images/sample-logo.jpg" class="title-logo" alt="logo" height="200px" width="170px">
        <h1>Pigeon Theatres</h1>
        <h3>Don't knock 'em till you try 'em - Pigeon Theatres Enthusiast Albert Einstein</h3>
    </div>
</header>
<div class="subtitle-container">
    <h2 class="subtitle" id="recommended">Movies at Pigeon</h2>
    <p class="subtitle" id="info">Click the movie image or title for more info!</p>
</div>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="now-playing-icon">local_play</mat-icon>
            <span class="label-title">Now Playing</span>
        </ng-template>
        <h2 class="tab-title">Now Playing</h2>
        <div class="movie-container recommended"*ngFor="let card of nowCards">
            <div class="movie-card recommended" *ngFor="let movie of card.movies">
                <mat-card class="recommended-card">
                    <mat-card-header>
                      <div></div>
                      <mat-card-title>{{movie.movie.title}}</mat-card-title>
                      <mat-card-subtitle>Rated: {{movie.movie.rating}} </mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src={{movie.movie.trailerpic}} alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p style="display: inline;">Genres:</p>
                      <p style="display: inline;"*ngFor="let genre of movie.genres">
                        {{genre.name}}
                      </p>
                      <p>
                        Duration: {{movie.movie.duration}}Min
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button (click)="gotoInfo(movie.movie.mid)">Goto</button>
                      <button mat-button>Book</button>
                    </mat-card-actions>
                </mat-card>
          </div>
        </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="now-playing-icon">local_play</mat-icon>
        <span class="label-title">Coming Soon</span>
    </ng-template>
    <h2 class="tab-title">Coming Soon</h2>
    <div class="movie-container recommended"*ngFor="let card of soonCards">
        <div class="movie-card recommended" *ngFor="let movie of card.movies">
            <mat-card class="recommended-card">
                <mat-card-header>
                  <div></div>
                  <mat-card-title>{{movie.movie.title}}</mat-card-title>
                  <mat-card-subtitle>Rated: {{movie.movie.rating}} </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src={{movie.movie.trailerpic}} alt="Photo of a Shiba Inu">
                <mat-card-content>
                  <p style="display: inline;">Genres:</p>
                  <p style="display: inline;"*ngFor="let genre of movie.genres">
                    {{genre.name}}
                  </p>
                  <p>
                    Duration: {{movie.movie.duration}}Min
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button (click)="gotoInfo(movie.movie.mid)">Goto</button>
                  <button mat-button>Book</button>
                </mat-card-actions>
            </mat-card>
      </div>
    </div>
    </mat-tab>
  </mat-tab-group>

<!-- <h1 id="genre-label" class="genre">Popular Genres</h1>

<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="coming-soon-icon">rocket_launch</mat-icon>
            <span class="label-title">Action</span>
        </ng-template>
        <h2 class="tab-title" id="action">Action</h2>
        <div class="movie-container action">
            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="coming-soon-icon">question_mark</mat-icon>
            <span class="label-title">Mystery</span>
        </ng-template>
        <h2 class="tab-title" id="comedy">Comedy</h2>
        <div class="movie-container action">
            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="coming-soon-icon">sentiment_very_satisfied</mat-icon>
            <span class="label-title">Comedy</span>
        </ng-template>
        <h2 class="tab-title" id="mystery">Mystery</h2>
        <div class="movie-container action">
            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>

            <div class="movie-card action">
                <img src="assets/images/card1.jpg" alt="The Sweet Man" height="300px" width="350px">
                <div class="card-text">
                    <h2>The Sweet Man</h2>
                    <h3>2 hour 23 minutes</h3>
                    <h3>PG-13</h3>
                    <a href="#"><p><b>Get Tickets ></b></p></a>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group> -->

<div class="footer">
    <a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" class="footer-logo" alt="logo" height="100px" width="100px"></a>
    <p id="copyright">Pigeon Theatres</p>
</div>
