<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
      <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
  </button>
  <a class="toolbar-link" routerLink="/home" routerLinkActive="active"><span class="toolbar-title">Pigeon Theatres</span></a>
  <p class="search-text">Search</p>
  <mat-form-field appearance="outline" class="search-filter" [style.width.px]=90>
    <mat-label>By</mat-label>
    <mat-select [(value)]="type">
      <mat-option value="title">Title</mat-option>
      <mat-option value="genre">Genre</mat-option>
      <mat-option value="director">Director</mat-option>
      <mat-option value="producer">Producer</mat-option>
      <mat-option value="cast">Cast</mat-option>
      <mat-option value="rating">Rating</mat-option>
    </mat-select>
  </mat-form-field>
  <p>:</p>
  <mat-form-field appearance="outline" class="search-bar" [style.width.px]=360>
    <input matInput placeholder="Type here..." [(ngModel)]="searchval"/>
  </mat-form-field>
  <a class="search-button" mat-raised-button color="primary" role="button" (click)="search()">
    <mat-icon class="search-icon">search</mat-icon> Search
  </a>
  <div class="spacer"></div>
  <a mat-raised-button color="primary" [routerLink] = " '/' + profileURL " routerLinkActive="active">
      <mat-icon class="login-icon">{{loginIcon}}</mat-icon> {{profileName}}
  </a>
  <a mat-button [routerLink] = " '/' + registerURL " routerLinkActive="active">{{registerName}}</a>
</mat-toolbar>


<div class="movie-title">
  <h1>{{movie.title}}</h1>
  <iframe width="100%" height="600" [src]="safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



<div class="movie-info-container">
  <div class="movie-details">
    <h2>Information about the movie:</h2>

    <p>{{movie.synopsis}}</p>

    <div class="text">
      <p><b>Rating:</b> </p>
      <p class="content">{{movie.rating}}</p>
    </div>

    <div class="text">
      <p><b>Duration:</b> </p>
      <p class="content">{{movie.duration}} minutes</p>
    </div>

    <div class="text">
      <p><b>Director:</b> </p>
      <p class="content">{{movie.director}}</p>
    </div>

    <div class="text">
      <p><b>Producer:</b> </p>
      <p class="content">{{movie.producer}}</p>
    </div>

    <div class="text">
      <p style="display: inline;"><b>Genres:</b> </p>
      <p class="content" *ngFor="let genre of genres" style="display: inline; flex: none">{{genre.name}}</p>
    </div>

    <div class="text">
      <p><b>Select a booking showtime:</b> </p>
      <p class="content" *ngFor="let showing of showings">{{showing.date}}, {{showing.time}} at Theatre {{showing.roomid}}</p>
    </div>
    <a class="book-button" mat-raised-button [routerLink]=" '/showing-time'">Book Tickets</a>
  </div>
  <div class="movie-poster">
    <img src={{movie.trailerpic}} height="500" width="315" alt="Movie Picture" class="movie-image">
  </div>
 
</div>

<div class="footer">
  <a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" class="footer-logo" alt="logo" height="100px" width="100px"></a>
  <p id="copyright">Pigeon Theatres</p>
</div>