<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active" title="Back to Browsing">
<img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"></a>
<form #editProfileForm="ngForm" (ngSubmit)="updateCustomer()">
    <h1>Edit Profile</h1>
    <small class="invalid">{{msg}}</small>
    <div class="container">
        <div class="left profile">
            <label><b>Change First Name</b></label><br>
            <input type="text" placeholder="Enter first name" name="fName" #firstName="ngModel" [(ngModel)]="customer.firstName" required /><br>

            <label><b>Change Last Name</b></label><br>
            <input type="text" placeholder="Enter last name" name="lName" #lastName="ngModel" [(ngModel)]="customer.lastName" required /><br>

            <label><b>Change Password</b></label><br>
            <input type="password" placeholder="Enter password" name="password" #password="ngModel" [(ngModel)]="customer.password" required /><br>

            <label><b>Re-enter password</b></label><br>
            <input type="password" placeholder="Re-enter password" name="confirmPassword" #confirmPassword="ngModel" (ngModel)="customer.password" required /><br>

            <label for="address"><b>Address</b></label><br>
            <input type="text" placeholder="Enter Address" name="address" #address="ngModel" [(ngModel)]="customer.street" required><br>

            <label for="paymentCard"><b>Payment Card</b></label><br>
            <input type="text" placeholder="Enter Payment Card" name="paymentCard" #paymentCard="ngModel" [(ngModel)]="customer.paymentCard" required><br>

            <label><b>Change promotion notifications</b></label><br>
            <input type="checkbox" id="email" name="email" value="I would like to receive emails about promotions!">
            <label id="emailLabel"><b>I would like to receive emails about promotions!</b></label>
            <input type="checkbox" id="noEmail" name="noEmail" value="Cancel email subscription.">

            <label id="noEmailLabel"><b>Cancel email subscription.</b></label><br>
        </div>
    </div>
    <div class="bottom">
        <button class="button save" [disabled]="!editProfileForm.valid">Save</button>
        <button class="button remove">Cancel</button> 
    </div>
</form>