<app-toolbar></app-toolbar>

<div class="profile-title">
  <h1>Edit Profile</h1>
</div>
<div class="container">
  <form [formGroup]="profileForm">
      <h3>All profile edits require you to enter your current password for security.</h3>
      <!-- <small class="invalid"><b>{{msg}}</b></small><br> -->
      <mat-form-field appearance="fill">
        <mat-label>Change First Name</mat-label>
        <input
          matInput
          placeholder="Enter first name"
          name="firstName"
          id="firstName"
          formControlName="firstName"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Change Last Name</mat-label>
        <input
          matInput
          placeholder="Enter last name"
          name="lastName"
          id="lastName"
          formControlName="lastName"
        />
      </mat-form-field>
      <br>
      <small class="invalid"><b>{{msg}}</b></small><br>
      <mat-form-field appearance="fill">
        <mat-label>Enter Current Password</mat-label>
        <input type="password" matInput formControlName="oldPassword" placeholder="Enter Current Password" name="oldPassword" id="oldPassword" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter New Password</mat-label>
        <input type="password" matInput formControlName="newPassword" placeholder="Enter New Password" name="newPassword" id="newPassword">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPassword" placeholder="Re-enter New Password" name="confirmPassword" id="confirmPassword">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Change Street</mat-label>
        <input
          matInput
          placeholder="Enter street"
          name="street"
          id="street"
          formControlName="street"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Change City</mat-label>
        <input
          matInput
          placeholder="Enter city"
          name="city"
          id="city"
          formControlName="city"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Change State</mat-label>
        <input
          matInput
          placeholder="Enter state"
          name="state"
          id="state"
          formControlName="state"
        />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Change Zip Code</mat-label>
        <input
          matInput
          placeholder="Enter zip"
          name="zip"
          id="zip"
          formControlName="zip"
        />
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Change Phone Number</mat-label>
        <input
          matInput
          placeholder="Enter phone"
          name="phone"
          id="phone"
          formControlName="phone"
        />
      </mat-form-field>
      <table class="table table-bordered" formArrayName="paymentCards">
        <tr>
          <th colspan="2">Payment Cards:</th>
        </tr>
        <tr
          *ngFor="let paymentCards of paymentCards().controls; let i = index"
          [formGroupName]="i"
        >
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Card Number</mat-label>
              <input
                matInput
                placeholder="Enter Card Number"
                type="text"
                formControlName="cardNumber"
                class="form-control"
              />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Expiration Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="expDate"
                class="form-control"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td class="billing-subtitle"><span><b>Billing Address:</b></span></td>
          
          <td>
            <mat-form-field appearance="fill">
            <mat-label>Change Street</mat-label>
            <input
              matInput
              placeholder="Enter street"
              name="street"
              id="street"
              formControlName="street"
            />
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
            <mat-label>Change City</mat-label>
            <input
              matInput
              placeholder="Enter city"
              name="city"
              id="city"
              formControlName="city"
            />
          </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
            <mat-label>Change State</mat-label>
            <input
              matInput
              placeholder="Enter state"
              name="state"
              id="state"
              formControlName="state"
            />
          </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="fill">
            <mat-label>Change Zip Code</mat-label>
            <input
              matInput
              placeholder="Enter zip"
              name="zip"
              id="zip"
              formControlName="zip"
            />
          </mat-form-field>
          </td>
          <br>
          <td>
            <button mat-button (click)="removePaymentCard(i)" class="btn btn-danger">
              <mat-icon class="login-icon">delete</mat-icon>Remove
            </button>
          </td>
        </tr>
        <button
          mat-button
          type="button"
          (click)="addPaymentCard()"
          class="btn btn-primary"
        >
          Add Payment Card
        </button>
      </table>

        <label><b>Change promotion notifications</b></label><br>
        <input type="checkbox" id="email" name="email" value="I would like to receive emails about promotions!" formControlName="promo">
        <label id="emailLabel"><b>I would like to receive emails about promotions!</b></label>
      <div class="bottom">
          <button mat-button class="button save" [disabled]="!profileForm.valid" (click)="updateCustomer()">Save</button>
          <a routerLink="/home" routerLinkActive="active"><button mat-button class="button remove">Cancel</button></a>
      </div>
  </form>
</div>