<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active" title="Back to Browsing">
<img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"></a>
<form #editProfileForm="ngForm" (ngSubmit)="updateCustomer()">
    <h1>Edit Profile</h1>
    <small class="invalid">{{msg}}</small>
    <div class="container">
        <div class="left profile">
            <label><b>Change First Name</b></label><br>
            <input type="text" placeholder="Enter first name" name="fName" #firstName="ngModel" [(ngModel)]="customer.firstName" required /><br>

            <label><b>Change Last Name</b></label><br>
            <input type="text" placeholder="Enter last name" name="lName" #lastName="ngModel" [(ngModel)]="customer.lastName" /><br>

            <label><b>Current Password</b></label><br>
            <input type="password" placeholder="Enter current password" name="old password" #opassword="ngModel" [(ngModel)]="customer.password" /><br>

            <label><b>New Password</b></label><br>
            <input type="password" placeholder="Enter password" name="password" #password="ngModel" [(ngModel)]="newPass" /><br>

            <label><b>Re-enter new password</b></label><br>
            <input type="password" placeholder="Re-enter password" name="confirmPassword" #confirmPassword="ngModel" ngModel [required]="newPass ? true : false"
            (ngModel)="newPass"
            #confirmref="ngModel" 
            [class.is-invalid]="confirmref.invalid && confirmref.touched"/>
            <div *ngIf="confirmref.invalid &&(confirmref.touched || confirmref.dirty)" class ="alert alert-danger">
              <div [hidden]="!confirmref.errors?.required">
                <small class="invalid">Password is required</small>
              </div> 
            </div> <br>

            <label for="street"><b>Street</b></label><br>
            <input type="text" placeholder="Enter Address" name="street" #street="ngModel" [(ngModel)]="customer.street"><br>

            <label for="city"><b>City</b></label><br>
            <input type="text" placeholder="Enter Address" name="city" #city="ngModel" [(ngModel)]="customer.city"><br>

            <label for="state"><b>State</b></label><br>
            <input type="text" placeholder="Enter Address" name="state" #state="ngModel" [(ngModel)]="customer.state"><br>

            <label for="zip"><b>Zip</b></label><br>
            <input type="text" placeholder="Enter Address" name="zip" #zip="ngModel" [(ngModel)]="customer.zip"><br>

            <label for="phone"><b>Phone</b></label><br>
            <input type="text" placeholder="Enter Phone" name="phone" #phone="ngModel" [(ngModel)]="customer.phone"><br>

            <label for="paymentCard"><b>Payment Card</b></label><br>
            <input type="text" placeholder="Enter Payment Card" name="paymentCard" #paymentCard="ngModel" (ngModel)="customer.paymentCard"><br>

            <label for="expDate"><b>Expiration Date</b></label><br>
            <input type="text" placeholder="Enter Expiration Date" name="expDate" #expDate="ngModel" [(ngModel)]="customer.expDate"><br>

            <label><b>Change promotion notifications</b></label><br>
            <input type="checkbox" id="email" name="email" value="I would like to receive emails about promotions!" [(ngModel)]="customer.getPromo">
            <label id="emailLabel"><b>I would like to receive emails about promotions!</b></label>
        </div>
    </div>
    <div class="bottom">
        <button class="button save" [disabled]="!editProfileForm.valid">Save</button>
        <button class="button remove">Cancel</button> 
    </div>
</form>