.profile-title {
    margin: 3rem 15rem;
}

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0.5rem 2rem 0.5rem 0;
    cursor: pointer;
    background-color: rgb(147,141,147);
    width: 50%;
    float: left;
}

.container {
    padding: 1rem;
    background-color: white;
    width: 75%;
    margin: auto;
    color: black;
}

.container input {
    margin-bottom: 1rem;
}

.mat-form-field {
    margin-right: 16px;
}