.mat-toolbar.mat-primary {
    background: rgba(178,140,198,1);
    color: #fff;
}

.mat-button {
    font-size: 17px;
 }
  
.toolbar-icon {
    border-radius: 50%;
    border: 1px solid;
    border-color: rgba(163,185,198);
}
