<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active">
  <img
    src="assets/images/sample-logo.jpg"
    alt="logo"
    height="50px"
    width="50px"
/></a>
<div class="title">
  <img
    src="assets/images/sample-logo.jpg"
    class="title-logo"
    alt="logo"
    height="200px"
    width="170px"
  />
  <h1>Pigeon Theatres</h1>
</div>
<form #loginForm="ngForm" role="form" (ngSubmit)="login()">
  <h2>Sign In</h2>
  <small class="invalid">{{msg}}</small>
  <div class="container form-group">
    
    <label for="email"><b>Email:</b></label>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" [(ngModel)]="customer.email" required 
      #emailref="ngModel" 
      email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
      [class.is-invalid]="emailref.invalid && emailref.touched"/>
    <div *ngIf="emailref.invalid &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
      <div [hidden]="!emailref.errors?.required">
        <small class="invalid">Email is a required field</small>
      </div> 
      <div [hidden]="!emailref.errors?.pattern">
        <small class="invalid">Enter a valid email address</small>
      </div> 
    </div>

    <label for="password"
      ><b>Password</b>
      <a class="forgot" routerLink="/password-reset" routerLinkActive="active">Forgot Password?</a></label
    >
    <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="customer.password" required
    #passwordref="ngModel"
    [class.is-invalid]="passwordref.invalid && passwordref.touched"/>
    <div *ngIf="passwordref.invalid &&(passwordref.touched || passwordref.dirty)" class ="alert alert-danger">
      <div [hidden]="!passwordref.errors?.required">
        <small class="invalid">Password is a required field</small>
      </div> 
    </div>

    <label class="check">
      <input class="check" type="checkbox" checked />Remember me
    </label>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>

    <p style="text-align: center">
      <b>New user? <a routerLink="/register" routerLinkActive="active">Register here!</a></b>
    </p>
  </div>
</form>
