<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
      <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
  </button>
  <a mat-button routerLink="/home" routerLinkActive="active">Back To Home</a>
</mat-toolbar>
<div class="title">
  <img
    src="assets/images/sample-logo.jpg"
    class="title-logo"
    alt="logo"
    height="200px"
    width="170px"
  />
  <h1>Pigeon Theatres</h1>
</div>
<form #loginForm="ngForm" role="form" (ngSubmit)="login()">
  <h2>Sign In</h2>
  <small class="invalid">{{msg}}</small>
  <div class="container form-group">

    <label for="email"><b>Email:</b></label>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" [(ngModel)]="customer.email" required
      #emailref="ngModel"
      email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      [class.is-invalid]="emailref.invalid && emailref.touched"/>
    <div *ngIf="emailref.invalid &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
      <div [hidden]="!emailref.errors?.required">
        <small class="invalid">Email is a required field</small>
      </div>
      <div [hidden]="!emailref.errors?.pattern">
        <small class="invalid">Enter a valid email address</small>
      </div>
    </div>

    <label for="password"
      ><b>Password</b>
      <a id="forgot" class="link" routerLink="/password-reset-email" routerLinkActive="active">Forgot Password?</a></label
    >
    <input type="password" class="form-control" placeholder="Enter Password" name="password" [(ngModel)]="customer.password" required
    #passwordref="ngModel"
    [class.is-invalid]="passwordref.invalid && passwordref.touched"/>
    <div *ngIf="passwordref.invalid &&(passwordref.touched || passwordref.dirty)" class ="alert alert-danger">
      <div [hidden]="!passwordref.errors?.required">
        <small class="invalid">Password is a required field</small>
      </div>
    </div>

    <label for="check"><b>Remember me</b></label>
    <input id="check" type="checkbox" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}" checked/>

    <button class="submit" type="submit" [disabled]="!loginForm.valid">Login</button>

    <p style="text-align: center">
      <b>New user? <a class="link" routerLink="/register" routerLinkActive="active">Register here!</a></b>
    </p>
  </div>
</form>
