<mat-toolbar color="primary" class="mat-elevation-z6">
  <button
    mat-icon-button
    class="home-icon"
    aria-label="home-icon"
    routerLink="/admin-menu"
    routerLinkActive="active"
  >
    <img
      class="toolbar-icon"
      src="assets/images/sample-logo.jpg"
      alt="logo"
      height="40px"
      width="40px"
    />
  </button>
  <a mat-button routerLink="/admin-menu" routerLinkActive="active"
    >Back To Admin Menu</a
  >
</mat-toolbar>
<div class="title">
    <h1>Manage Promotions</h1>
</div>
<div class="container">
    <form [formGroup]="promotionForm">
      <div class="general-fields">
        <h3>Fill in Promotion Information</h3>
        <mat-form-field appearance="fill">
          <mat-label>Discount</mat-label>
          <input
            matInput
            placeholder="Enter Discount Percentage"
            name="discount"
            id="discount"
            formControlName="discount"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Promotion Key (Optional)</mat-label>
          <input
            matInput
            placeholder="Enter 6-Digit Promo Key"
            name="pcode"
            id="pcode"
            formControlName="pcode"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>End Date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="endDate"
            class="form-control"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="synopsis" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="promoDescription"
            placeholder="Enter Description"
            name="description"
            id="description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="7"
          ></textarea>
        </mat-form-field>

      </div>

      <button mat-button (click)="submitPromotion()">Submit New Promotion</button>
      <a class="active" id="logo" routerLink="/admin-menu" routerLinkActive="active"><button mat-button class="cancel">Cancel</button></a>
    </form>
</div>
