/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Roboto;
    src: url(assets\fonts\Roboto-Regular.ttf) format('opentype');
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(
        90deg,
        rgb(147,141,147) 0%,
        rgba(163, 185, 198) 100%
    );
    color: white;
}
