<mat-toolbar color="primary" class="mat-elevation-z6">
  <button mat-icon-button class="home-icon" aria-label="home-icon" routerLink="/home" routerLinkActive="active">
      <img class="toolbar-icon" src="assets/images/sample-logo.jpg" alt="logo" height="40px" width="40px">
  </button>
  <span class="toolbar-title">Pigeon Theatres</span>
  <p class="search-text">Search</p>
  <mat-form-field appearance="outline" class="search-filter" [style.width.px]=90>
    <mat-label>By</mat-label>
    <mat-select [(value)]="type">
      <mat-option value="title">Title</mat-option>
      <mat-option value="genre">Genre</mat-option>
      <mat-option value="director">Director</mat-option>
      <mat-option value="producer">Producer</mat-option>
      <mat-option value="cast">Cast</mat-option>
      <mat-option value="rating">Rating</mat-option>
      <mat-option value="date">Date</mat-option>
    </mat-select>
  </mat-form-field>
  <p>:</p>
  <mat-form-field appearance="outline" class="search-bar" [style.width.px]=360>
    <input matInput placeholder="Type here..." [(ngModel)]="searchval"/>
  </mat-form-field>
  <a class="search-button" mat-raised-button color="primary" role="button" (click)="search()">
    <mat-icon class="search-icon">search</mat-icon> Search
  </a>
  <div class="spacer"></div>
  <a mat-raised-button color="primary" [routerLink] = " '/' + profileURL " routerLinkActive="active">
      <mat-icon class="login-icon">{{loginIcon}}</mat-icon> {{profileName}}
  </a>
  <a mat-button [routerLink] = " '/' + registerURL " routerLinkActive="active">{{registerName}}</a>
</mat-toolbar>

<div class="movie-container recommended"*ngFor="let card of cards">
  <div class="movie-card recommended" *ngFor="let movie of card.movies">
      <mat-card class="recommended-card">
          <mat-card-header>
            <div></div>
            <mat-card-title>{{movie.movie.title}}</mat-card-title>
            <mat-card-subtitle>Rated: {{movie.movie.rating}} </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{movie.movie.trailerpic}} alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p style="display: inline;">Genres:</p>
            <p style="display: inline;"*ngFor="let genre of movie.genres">
              {{genre.name}}
            </p>
            <p>
              Duration: {{movie.movie.duration}}Min
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="gotoInfo(movie.movie.mid)">Goto</button>
            <button mat-button>Book</button>
          </mat-card-actions>
      </mat-card>
</div>
</div>
