h1 {
    margin-left: 38%;
    margin-top: 10%;
}

.title {
    text-align: center;
    color: white;
    margin-top: 2rem;
}

.title h1 {
    margin: 1rem 0 3rem 0;
}

.title-logo {
    margin: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: rgba(178, 140, 198, 1) rgba(163, 185, 198);
}

.register-title {
    margin-left: 15rem;
    margin-bottom: 1rem;
    width: 15%;
    padding: 2px;
    background-color: white;
    color: black;
    text-align: center;
}

.link:link, .link:visited {
    color: rgba(0, 151, 238);
    text-decoration: none;
    font-size: 17px;
}

.link:hover {
    color: rgba(199, 15, 55, 0.774);
}

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-vertical-content-container {
    margin-top: 16px;
}

.mat-form-field {
    margin-right: 16px;
}

.mat-input-element {
    color: black !important;
}

.stepper-button {
    color: black;
}   

.mat-stepper-vertical {
    margin: auto;
    width: 75%;
}