<a class="active" id="nav-logo" routerLink="/home" routerLinkActive="active"><img src="assets/images/sample-logo.jpg" alt="logo" height="50px" width="50px"/></a>
<div class="title">
    <img
        src="assets/images/sample-logo.jpg"
        class="title-logo"
        alt="logo"
        height="200px"
        width="170px"
    />
    <h1>Pigeon Theatres</h1>
</div>
<form #registerForm="ngForm" (ngSubmit)="registerCustomer()">
    <h2>Register</h2>
    <div class="container form-group">

    <label for="email"><b>Email:</b></label>
    <div *ngIf="emailref.invalid &&(emailref.touched || emailref.dirty)" class ="alert alert-danger">
      <div [hidden]="!emailref.errors?.pattern">
        <small class="invalid" *ngIf="emailref.errors!.required">Email is a required field.</small>
        <small class="invalid" *ngIf="emailref.errors!.pattern">Enter a valid email.</small>
      </div> 
    </div>
    <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email" [(ngModel)]="customer.email" required 
      #emailref="ngModel" 
      email pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" 
      [class.is-invalid]="emailref.invalid && emailref.touched"/>
    

        <label for="firstName"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="firstName" [(ngModel)]="customer.firstName" #firstName="ngModel" required
            [class.is-invalid]="firstName.invalid && firstName.touched">

        <label for="lastName"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastName" [(ngModel)]="customer.lastName" #lastName="ngModel" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" [(ngModel)]="customer.password" #password="ngModel" required/>
  
        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="confirmPassword" #confirmPassword="ngModel" (ngModel)="customer.password" required>

        <!-- <label for="address"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="confirmPassword" #confirmPassword="ngModel" (ngModel)="customer.password" >

        <label for="confirmPassword"><b>Confirm Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="confirmPassword" #confirmPassword="ngModel" (ngModel)="customer.password" > -->

        <button type="submit" [disabled]="!registerForm.valid">Register</button>
        
        <form action="Login.html">
            <button type="submit">Cancel</button>
        </form>
        
        <p style="text-align: center">
                <b>Existing user? <a routerLink="/login" routerLinkActive="active">Login here!</a></b>
        </p>
    </div>
</form>