<app-toolbar></app-toolbar>
<div class="title">
  <img
    src="assets/images/sample-logo.jpg"
    class="title-logo"
    alt="logo"
    height="200px"
    width="170px"
  />
  <h1>Pigeon Theatres</h1>
</div>
<div class="register-title">
  <h2>Register</h2>
  <b>Existing user? <a class="link" routerLink="/login" routerLinkActive="active">Login here!</a></b>
</div>
<mat-stepper orientation="vertical" #stepper linear>
  
  <mat-step [stepControl]="firstFormGroup" [editable]="true">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your Login and Contact Details</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="emailCtrl" placeholder="Enter Email" name="email" id="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstNameCtrl" placeholder="Enter First Name" name="firstName" id="firstName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastNameCtrl" placeholder="Enter Last Name" name="lastName" id="lastName" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="passwordCtrl" placeholder="Enter Password" name="password" id="password" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput formControlName="confirmPasswordCtrl" placeholder="Re-enter Password" name="confirmPassword" id="confirmPassword" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phoneCtrl" placeholder="Enter Phone Number" name="phone" id="phone" required>
      </mat-form-field>
      <div>
        <button class="stepper-button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="true">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Street Address</mat-label>
        <input matInput formControlName="streetCtrl" placeholder="Ex. 123 Lazy St.">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="cityCtrl" placeholder="Ex. Atlanta">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="stateCtrl" placeholder="Ex. GA">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Zip</mat-label>
        <input matInput formControlName="zipCtrl" placeholder="Ex. 00000">
      </mat-form-field>
      <div>
        <button class="stepper-button" mat-button matStepperPrevious>Back</button>
        <button class="stepper-button" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" [optional]="true">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Fill out your payment information</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Card Number</mat-label>
        <input matInput formControlName="cardNumberCtrl" placeholder="XXXX XXXX XXXX">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Expiration Date</mat-label>
        <input matInput formControlName="expDateCtrl" placeholder="01/22">
      </mat-form-field>
      <div>
        <button class="stepper-button" mat-button matStepperPrevious>Back</button>
        <button class="stepper-button" mat-button type="button" (click)="registerCustomer()">Register</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>